@page "/"
@using Microsoft.VisualBasic
@using Movidle.Models
@rendermode InteractiveServer
@inject Movidle.Services.MovieService MovieService

<table id="movies-table">
    <tr>
        <th>Title</th>
        <th>Director</th>
        <th>Year</th>
        <th>Genre</th>
        <th>Metascore</th>
        <th>Country</th>
    </tr>
    @foreach (var movie in movies)
    {
        <tr>
            <td class="@base_verif(movie.Title, rdm_movie.Title)">@movie.Title</td>
            <td class="@base_verif(movie.Director, rdm_movie.Director)">@movie.Director</td>
            <td class="@year_verif(movie.Year, rdm_movie.Year)">@movie.Year</td>
            <td class="@genre_verif(movie.Genres, rdm_movie.Genres)">
                @string.Join(", ", movie.Genres)
            </td>
            <td class="@year_verif(movie.Metascore, rdm_movie.Metascore)">@movie.Metascore</td>
            <td class="@genre_verif(movie.Countries, rdm_movie.Countries)">
                @string.Join(", ", movie.Countries)
            </td>
        </tr>
    }
</table>

<input @bind="title" placeholder="Entrez le nom du film" />
<button @onclick="SearchMovie">Deviner</button>
<p>@log</p>

@code {
    private static readonly Random random = new();
    private Movie rdm_movie = new();
    private List<Movidle.Models.Movie> movies = new();
    private string title = string.Empty;
    private Movidle.Models.Movie? movie;
    private string log = string.Empty;
    private string base_verif(string guess, string toFind)
    {
        if (movie != null && rdm_movie != null)
        {
            if (guess == toFind)
            {
                return "cell_verif_good";
            }
            else
            {
                return "cell_verif_bad";
            }
        }
        return string.Empty;
    }
    private string year_verif(string guess, string toFind)
    {
        if (movie != null && rdm_movie != null)
        {
            if (guess == toFind)
            {
                return "cell_verif_good";
            }
            else if (guess == "N/A" || toFind == "N/A")
            {
                return "cell_verif_bad";
            }
            else if (int.Parse(guess) > int.Parse(toFind))
            {
                return "up_year";
            }
            else if (int.Parse(guess) < int.Parse(toFind))
            {
                return "down_year";
            }
        }
        return string.Empty;
    }

    private string genre_verif(List<string> guess, List<string> toFind)
    {
        if (movie == null || rdm_movie == null) return string.Empty;

        if (guess.SequenceEqual(toFind))
            return "cell_verif_good";

        if (guess.Intersect(toFind).Any())
            return "cell_verif_partial";

        return "cell_verif_bad";
    }
    private async Task SearchMovie()
    {
        movie = await MovieService.SearchMovie(title);
        if (movie.Title == null)
        {
            log = "Film non trouvé. Veuillez réessayer.";
            return;
        }
        else
        {
            log = "";
            movies.Add(movie);
        }
    }
    private async Task GetRandomMovie()
    {
        List<string> guess_movies = new() {"inception", "the dark knight", "interstellar", "dunkirk", "tenet", "Batman", "the thing",
"Brokeback mountain", "the lord of the rings", "the hobbit", "the matrix", "the godfather", "pulp fiction", "fight club", "forrest gump"};
        rdm_movie = await MovieService.SearchMovie(guess_movies[random.Next(guess_movies.Count)]);
    }
    //TODO : nombre de coups, orange , fleche haut bas, petit effort sur le design
    protected override async Task OnInitializedAsync()
    {
        await GetRandomMovie();
    }

}